{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
{% endblock %}


{% block content %}
<section class="uk-section uk-section uk-section-muted">
  <div class="uk-container uk-container-large">
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-1-1@m">
        <div>
          <h1 id="name"> {{ course.name }} </h1>
        </div>
      </div>
      <div class="uk-width-1-1@m">
        <div uk-grid class="uk-grid-small">
          <div class="uk-width-expand@m">
            <div class="uk-padding-remove">
              <div id="player"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-expand@m">
        <div class="uk-card no-scale uk-card-large uk-card-default uk-card-body uk-border-rounded">
          <div>
            <h3 class="uk-card-title uk-margin-remove-bottom">
              Descrição
            </h3>
            <p id="description">
              {{ course.description | safe }}
            </p>
          </div>
        </div>
      </div>
      <div class="uk-width-1-5@m">
        <div>
          <div>
            <div class="uk-button-watch">
              <div class="uk-margin">
                <a href="{{ course.source_code_url }}" class="uk-button uk-width-1-1@s uk-button-secondary">
                  <span uk-icon="code"></span>
                  Código Fonte
                </a>
              </div>
              <div class="uk-margin" uk-margin>
                <a href="https://app.picpay.com/user/spacedevs" class="uk-button uk-button-success uk-width-1-1@s">
                  <span uk-icon="bolt"></span>
                  PAGUE UM CAFÉ
                </a>
              </div>
            </div>

            <div class="meta-labels">
              {% for tag in course.tags %}
               <span class="uk-label uk-label-muted">{{ tag.name }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block scripts %}
<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var options = {
        id: '{{ course.video_url }}',
        responsive: true,
    };
    var madeInNy = new Vimeo.Player('player', options);
</script>
{%endblock%}