<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacedevs - Cursos de programação online</title>
  <link rel="stylesheet" href="https://saturnos3.us-east-1.linodeobjects.com/all.css?139189183" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&display=swap" rel="stylesheet">
</head>
<body class="site">
  {% include "components/navbar.html" %}

  <main class="site-container">
    {% block content %}{% endblock %}
  </main>

  {% include "components/footer.html" %}
  
  <script src="https://saturnos3.us-east-1.linodeobjects.com/all.js?1209878"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html> 