<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body class="site">
  {% include "components/navbar.html" %}

  <main class="site-container">
    {% block content %}{% endblock %}
  </main>
  
  <script src="{{ url_for('static', filename='js/uikit.js') }}"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <script src="{{ url_for('static', filename='js/icons.js') }}"></script>
</body>
</html> 